/* =====CTRL+ALT+F======== to format css codes  */
* {
    margin: 0;
    padding: 0;
       
}

/* MY PERSONAL CSS VARIABLE */

:root{
    /* Colors*/
    --color-primary:#654aff;
    --color-secondary:#f4f5f7;
    --color-tertiary:rgb(40, 40, 40);
    --color-alt:grey;
    --color-btn:#3dd2ae;
    --color-btn-hover:#1f856d;

    /* Fonts */
    --f-size-h:40px;
    --f-size-s-h:1.5rem;
    --f-size-s-h-2:0.83rem;
    --f-w-heavy:900;
    --f-family-h:'Oswald', sans-serif;
    --f-family-s-h: font-family: 'Roboto', sans-serif;
    --f-family-body:font-family: 'Open Sans',sans-serif;
    
    
    /* Spacing */
    --space-x-s:5px;
    --space-x-m:15px;
    --space-x:10px;
    --space-xx:20px;
    --space-xxx:30px;
    --space-lg:60px;
    
    /* Sizing */
    --fit-width:fit-content;
    
    /* Boxing */
    --brd-container:solid red;
    --brd-child:solid green;
    --brd-g-child:solid blue;

    --brd-rad:6px;
    --bx-shw:0px 0px 10px grey
}



/* ======= FONT FAMILY FOR THIS WEBSITE... HEADINGS, SUB HEASDINGS AND BODY TEXT======= */
h1{
    font-family: var(--f-family-h);
}
 h2, h2, h4,h5,h6{
    font-family: var(--f-family-s-h);
}
p{
    font-family: var(--f-family-body);
   
}

.btn-generic{

    background-color: var(--color-btn);
    color: white;
    padding: var(--space-x) ;
    border: none;
    border-radius: 10px;
    font-weight: 700; 

    }
    .btn-generic-2{
        
    background-color: var(--color-primary);
    color: white;
    padding: var(--space-x) ;
    border: none;
    border-radius: 10px;
    font-weight: 700; 

    }
.btn-generic:hover{
    background-color: var(--color-btn-hover);
}
.btn-generic-2:hover{
    background-color: var(--color-btn-hover);
}

.text-color-separation{
    color:var(--color-primary);
}


/* =====CTRL+ALT+F======== to format css codes  */

/* ==== NOT NEEDED==== REMOVE CODES FROM HERE UPWARDS WHEN DONE CODING */

